article {
  text-align: justify;
}

img[src$='#center'] {
  display: block;
  margin: 0 auto;
}

img[src$='#floatleft'] {
  float: left;
  margin-right: .75rem;
}

img[src$='#floatright'] {
  float: right;
  margin-left: .75rem;
}


#previous-years span.fa {
  color: #FFF;
  font-size: 14px;
}

#previous-years ul.sub-menu {
  position: absolute;
  width: 8em;
  margin: 1em;
  padding: 0.5em;
  background: rgba(0, 0, 0, 0.333);
}

#previous-years ul.sub-menu li a {
  display: block;
  padding: 0.5em;
}

#previous-years ul.sub-menu li a:hover,
#previous-years ul.sub-menu li a:focus {
  background: rgba(0, 0, 0, 0.7);
}

.page-keynote-speakers img {
  float: left;
  width: 50%;
  margin-right: .75rem;
}
